.width_400 {
  width: 400px;
}

.padding_40 {
  padding: 40px 40px 20px 40px;
}

.mui-form-group {
  padding-top: 5px;
  padding-bottom: 7px;
}

.mui-btn {
  border: 2px #f05a5a solid;
  background-color: #fff;
  padding-left: 16px;
  padding-right: 16px;
  color: #f05a5a;
}

.mui-form-control:focus {
    border-color: #f05a5a;
    border-width: 2px;
}

.mui-btn:hover {
    color: #f05a5a;
}

.valign {
    vertical-align: 30%;
}
.min_height_400 {
    min-height: 400px;
}
.red_message {
    color: #f05a5a;
}
.comment-box {
  resize: none;
  border-radius: 0px;
}
