body {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

a {
    color: #777;
}

a:hover {
    color: #f05a5a;
}

.topmost-nav {
    padding: 15px;
}

.navbar {
    background-color: #f05a5a;
    border: 0px solid gray;
    border-radius: 0px;
}

.navbar a {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default:hover .navbar-brand:hover {
    color:#fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-default .navbar-nav>li>  a.proj-links {
    color: #777;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #ff7d7d;
    color: #fff;
}

.auth-btn {
    background-color: #fff;
    color: #f05a5a;
    font-weight: bold;
    border: 2px solid #f05a5a;
}

.auth-btn:hover {
    background-color: #f05a5a;
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
}

.dropdown-menu {
    background-color: #f05a5a;
}

@media (max-width: 767px) {
    .dropdown-menu>li:hover{
        background-color: #ff7d7d;
    }
}

.dropdown-menu>li>a:hover {
    background-color: #ff7d7d;
}

.projects-container {
    border:0px solid red;
    width: 220px;
    max-height:230px;
    margin:30px;
    float:left;
}

.projects{
    border: 1px solid gray;
    width: 100%;
    height:200px;
    padding:7px;
    margin-bottom: 8px;
    border-radius:5px;
    overflow: hidden;
    border:3px solid #fff;
    -moz-box-shadow:0 0 10px #aaa;
    -webkit-box-shadow:0 0 10px #aaa;
    box-shadow:0 0 10px #aaa;
    color:black;
    background-color: #fff;
}

.projects-name {
    font-weight:bold;
    font-size:12px;
    color: gray;
    margin-left: 10px;
}

.project-stats {
    float: right;
    color: gray;
    font-size: 14px;
    font-family: arial;
    margin-left:15px;
    padding:3px;
}

.pagination {
    margin-left: auto;
    margin-right: auto;
}

#lower-navbar a:hover { color:#f05a5a; }

.footer {
    border:0px solid red;
    padding:25px;
    width: 100%;
    min-height:200px;
    background-color: #fff;
    color: gray;
    font-size: 12px;
    position: relative;
    bottom: 0px;
}

.footer-sections {
    border: 0px solid gray;
    min-width: 200px;
    max-width: 300px;
    margin: 5px 25px 5px 0px;
    float: left;
}

.footer-icons {
    font-size: 2.5em;
    padding-right: 10px;
}

.footer-icons:hover {
    color: #f05a5a;
}

.blank-page {
    min-height: 450px;
}



.all .banner {
    min-height: 200px;
    background-color: gray;
}

.all .jumbotron {
    border-bottom: 1px solid #e5e5e5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: -10px;
    max-width: 900px;
    text-align: justify;
    background-color: #FFF;
    padding: 19px;
    margin-bottom: 20px;
    position: relative;
}

.all .banner2 {
    min-height: 500px;
    background-color: #f05a5a;
}

.all .container {
    position: relative;
    margin: auto;
    padding-right: 18px !important;
    padding-left: 18px !important;
    max-width: 1170px;
    text-align: center;
}

.all .crew h2 {
    position: relative;
    margin-bottom: 24px;
    color: #fff;
    font-weight: 200;
    line-height: 48px
}

.all .crew h2:before {
    position: absolute;
    top: 24px;
    right: 0;
    left: 0;
    border-width: 1px 0 0;
    border-style: solid;
    border-top-color: #505254;
    content: '';
    mask-image: radial-gradient(circle, #000 50%, transparent)
}

.all .crew h2 span {
    position: relative;
    padding: 0 24px;
    background: #f05a5a
}

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 1);
}

.card.hovercard .cardheader {
    background: url("http://lorempixel.com/850/280/nature/4/");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .title h4 {
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
    margin-top: -1px;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn.btn-sm {
    padding: 5px 10px;
}

.btn-warning:not(.btn-link):not(.btn-flat) {
    background-color: #007bb5;
    color: rgba(255, 255, 255, 0.84);
}

.panel-info > .panel-heading {
    background-color: #5BC0DE;
    border-color: #46B8DA;
    text-align: left;
}

.panel-info > .panel-heading h1 {
    font-size: 24px;
    color: #fff;
}

.all h2.section {
    border-bottom: 1px solid #dddddd;
    color: #444444;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    margin: 40px 0 15px;
    overflow: hidden;
    padding: 0 0 10px;
    text-align: left;
}

.all .panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.all .panel-body p {
    text-align: left;
    text-align: justify;
}

.all .jumbotron p {
    text-align: left;
    text-align: justify;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
}

.all .panel-body ul {
    text-align: left;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
    background-color: #3b5998;
    color: rgba(255, 255, 255, 0.84);
}

.avatar {
    border-radius: 10px;
    height: 20px;
    width: 20px;
}

.ddColor {
    background-color: #fff;
    color: #777;
}

.dropdown-menu>li>a:hover {
    background-color: white;
}

.error404 {
    margin: 10% auto;
    text-align: center;
    font-family: Garamond;
}
